@page "/"

<PageTitle>Home</PageTitle>

@using static Microsoft.AspNetCore.Components.Web.RenderMode

<PageTitle>Home</PageTitle>

@inject ConsoleCommandService Cmd

<h3>Enviar comando para console</h3>

<div>
    <input @bind="message" placeholder="digite uma mensagem" />
</div>

<input disabled @bind="clientId" placeholder="clientId (ex: console-app)" />
<input disabled @bind="payload" placeholder="payload (ex: restart-service)" />

<button @onclick="Enviar">Enviar</button>

<p><b>Status:</b> @status</p>
<p><b>Resposta:</b> @resposta</p>

@code {
    string message = string.Empty;

    string clientId = "console-app";
    string payload = "ping-local";
    string status = "";
    string resposta = "";

    private async Task Enviar()
    {
        status = "Enviando...";
        resposta = "";

        var (ok, result) = await Cmd.SendAsync(
            clientId,
            new ExecuteCommandPayload
            {
                Action = "restart-service",
                Arguments = "nginx",
                TimeoutSeconds = 10,
                Message = message
            },
            timeout: TimeSpan.FromSeconds(20));

        status = ok ? "OK" : "ERRO";
        resposta = result;
    }
}

